<web-app>
    <!-- <anager Descriptions -->
    <display-name>
        CNT 4714 - Project 3 - Summer 2021
    </display-name>

    <description>
        A simple web application which allows the user to access a SQL database
        and execute commands from a browser.
    </description>

    <!-- Servlet Definition -->
    <servlet>
        <servlet-name>SQLServlet</servlet-name>
        <description>
            Responsible for handling sql commands given by the user
        </description>
        <servlet-class>SQLServlet</servlet-class>
    </servlet>

    <!-- Mapping -->
    <servlet-mapping>
        <servlet-name>SQLServlet</servlet-name>
        <url-pattern>/SQLServlet</url-pattern>
    </servlet-mapping>
    
</web-app>